/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 13, ../../sass/screen.scss */
h1 {
  font-size: 8vmin;
  margin-bottom: 20px;
  font-weight: bold;
}

/* line 19, ../../sass/screen.scss */
h2 {
  font-size: 4vmin;
  margin-bottom: 20px;
}

/* line 24, ../../sass/screen.scss */
h3 {
  font-size: 3vmin;
}

/* line 28, ../../sass/screen.scss */
em {
  font-style: italic;
}

/* line 32, ../../sass/screen.scss */
html {
  overflow-x: hidden;
}

/* line 36, ../../sass/screen.scss */
body {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  min-height: 100vh;
}

/* line 49, ../../sass/screen.scss */
.tldr {
  color: white;
  padding: 100px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}
/* line 77, ../../sass/screen.scss */
.one {
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-name: fadein;
}

/* line 81, ../../sass/screen.scss */
.two {
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-name: fadein;
}

/* line 85, ../../sass/screen.scss */
.three {
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-name: fadein;
}

/* line 89, ../../sass/screen.scss */
.four {
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
  animation-name: fadein;
}

/* line 93, ../../sass/screen.scss */
.five {
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  animation-name: fadein;
}

/* line 97, ../../sass/screen.scss */
.six {
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  animation-name: fadein;
}

/* line 102, ../../sass/screen.scss */
.experts {
  max-width: 350px;
  margin-top: 150px;
  margin-bottom: 150px;
}

/* line 108, ../../sass/screen.scss */
.expert-fig {
  border-radius: 50%;
}

/* line 112, ../../sass/screen.scss */
.product {
  font-size: 70%;
  padding: 20px;
}

/* line 117, ../../sass/screen.scss */
.intro {
  background: url("/images/intro.png");
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

/* line 129, ../../sass/screen.scss */
.card {
  background: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* line 136, ../../sass/screen.scss */
.caption {
  margin-top: 150px;
  margin-bottom: 150px;
}
/* line 140, ../../sass/screen.scss */
.caption li {
  list-style: none;
}

/* line 145, ../../sass/screen.scss */
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 156, ../../sass/screen.scss */
.value-prop {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

/* line 163, ../../sass/screen.scss */
.value-prop > div {
  padding-left: 40px;
}

/* line 167, ../../sass/screen.scss */
.enroll-button {
  font-size: 3vmin;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background: #FFC107;
  border-style: none;
}

/* line 176, ../../sass/screen.scss */
.enroll-button a {
  color: white;
  text-decoration: none;
}

/* line 181, ../../sass/screen.scss */
.signup {
  width: 100vw;
  color: white;
  background: #56334F;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* line 193, ../../sass/screen.scss */
#mc_embed_signup {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* line 199, ../../sass/screen.scss */
#mc_embed_signup form {
  width: 350px;
  background: #56334F;
}

/* line 204, ../../sass/screen.scss */
#mc_embed_signup input.button {
  background: #FFC107;
  color: white;
}
