/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 13, ../sass/screen.scss */
h1 {
  font-size: 8vmin;
  margin-bottom: 20px;
  font-weight: bold;
}

/* line 19, ../sass/screen.scss */
h2 {
  font-size: 4vmin;
  margin-bottom: 20px;
}

/* line 24, ../sass/screen.scss */
h3 {
  font-size: 3vmin;
}

/* line 28, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 32, ../sass/screen.scss */
html {
  overflow-x: hidden;
}

/* line 36, ../sass/screen.scss */
body {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  min-height: 100vh;
}

/* line 46, ../sass/screen.scss */
.experts {
  max-width: 350px;
  margin-top: 150px;
  margin-bottom: 150px;
}

/* line 52, ../sass/screen.scss */
.expert-fig {
  border-radius: 50%;
}

/* line 56, ../sass/screen.scss */
.product {
  font-size: 70%;
  padding: 20px;
}

/* line 61, ../sass/screen.scss */
.intro {
  background: url("/images/intro.png");
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

/* line 73, ../sass/screen.scss */
.card {
  background: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* line 80, ../sass/screen.scss */
.caption {
  margin-top: 150px;
  margin-bottom: 150px;
}

/* line 85, ../sass/screen.scss */
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 96, ../sass/screen.scss */
.value-prop {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

/* line 103, ../sass/screen.scss */
.value-prop > div {
  padding-left: 40px;
}

/* line 107, ../sass/screen.scss */
.enroll-button {
  font-size: 3vmin;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background: #FFC107;
  border-style: none;
}

/* line 116, ../sass/screen.scss */
.enroll-button a {
  color: white;
  text-decoration: none;
}

/* line 121, ../sass/screen.scss */
.signup {
  width: 100vw;
  color: white;
  background: #56334F;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* line 133, ../sass/screen.scss */
#mc_embed_signup {
  font: 14px "Roboto",Arial,sans-serif;
}

/* line 137, ../sass/screen.scss */
#mc_embed_signup input.button {
  background: #FFC107;
  color: white;
}
