<!DOCTYPE html>
<html>
  {{ partial "header.html"}}
  <body>
    <header class="intro">
      <section class="product">
        <h1 class="five">The Tango Project</h1>
      </section>
      <section class="value-prop">
        <div>
          <h1 class="one">Awesome Apps</h1>
          <h2 class="two">Written by students,
          <h2 class="three">reviewed by experts,</h2>
          <h2 class="four"><strong>starting at $999</strong></h2>
          <button type="button" name="button" class="five enroll-button"><a href="#download">Sign me up</a></button>
        </div>
      </section>
    </header>
    <div class="container">
      <section class="caption">
        <h1>Too good to be true?</h1>
        <h2>Nope. Here's why:</h2>
        <h2>Talented, beginner software engineers write thousands of lines of code for their portfolios <strong>for free</strong>. They do this because they're hoping to land a job by impressing employers with their portfolio. Typically, these projects are for software that <strong>no one wants</strong>, but our experts work with these beginners to help them build the software you want at a great price.</h2>
        </section>
    </div>
    <img src="images/mountain-photo.jpeg" class="img-responsive" />
    <section class="container text-center experts">
        <h1>Our Experts</h1>
        <img class="expert-fig" src="images/matt.jpg"/>
        <h2>Matt Dupree</h2>
        <h3>Matt has built web and mobile applications for startups and large companies like Disney. When he's working on a project he's excited about, he dreams about the code he's going to write. Most of the code he writes in his dreams is useless, but when he's awake, he makes some really neat stuff.</h3>
    </section>
    <img src="images/maps-photo.jpeg" class="img-responsive" />
    <section class="container">
      <section class="caption">
        <h1>Pricing</h1>
        <h2>Our Experts will determine the proper pricing-tier for your project, but here are some descriptions that may help you get a rough idea of where you fall.</h2>
        <section class="row text-center">
          <div class="col-md-4">
            <h2>Small</h2>
            <h3>$999</h3>
            <ul>
              <li>< 4 screens</li>
              <li>< 2 data points</li>
              <li>No Custom Design</li>
            </ul>
            <!-- <h3>See <a href="#">an example</a></h3> -->
          </div>
          <div class="col-md-4">
            <h2>Medium</h2>
            <h3>$2499</h3>
            <ul>
              <li>4 - 8 screens</li>
              <li>< 4 data points</li>
              <li>Little Custom Design</li>
            </ul>
            <!-- <h3>See <a href="#">an example</a></h3> -->
          </div>
          <div class="col-md-4">
            <h2>Large</h2>
            <h3>$4999</h3>
            <ul>
              <li>8 - 12 screens</li>
              <li>< 8 data points</li>
              <li>Custom Design</li>
            </ul>
            <!-- <h3>See <a href="#">an example</a></h3> -->
          </div>
        </section>
      </section>
    </section>
    <section id="download" class="signup">
      <div class="container text-center">
        <h1>See if your business qualifies</h1>
        <h2>Fill out our email form and we'll get in touch.</h2>
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup">
          <form action="//universityandroid.us11.list-manage.com/subscribe/post?u=9612e1a3261cb5689813bf38b&amp;id=e2ab23c21b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

          	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9612e1a3261cb5689813bf38b_e2ab23c21b" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </section>
  </body>
</html>